.DS_Store
*.class
**/target/
*.dll
**/bin/
**/obj/Debug
**/obj/*.csproj.nuget.cache
**/obj/*.csproj.nuget.g.props
**/obj/*.csproj.nuget.g.targets
**/.settings/
**/.vscode/
*.in
*.out
trash/
**/__pycache__/
**/.pytest_cache/
__archive__
__labs__